### Install & Import Necessary Libraries

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pycaret.classification import *

from pycaret.classification import ClassificationExperiment

In [14]:
import pycaret
pycaret.__version__

'3.0.0'

### Read CSV File

In [15]:
## Read Data
df = pd.read_csv(r'Datasets\Datasets\02_medical_records.csv')

# Show first 5 rows
df.head()

,age,gender,chest_pain,resting_BP,cholesterol,fasting_BS,resting_ECG,max_HR,exercise_angina,old_peak,ST_slope,cv_issue
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [16]:
# exp = ClassificationExperiment()

In [17]:
clf10 = setup(data=df, 
            target='cv_issue',
            session_id=1,
            categorical_features = ['gender', 'chest_pain', 'resting_ECG', 'exercise_angina', 'ST_slope'], 
            numeric_features = ['age', 'resting_BP', 'cholesterol', 'fasting_BS', 'max_HR', 'old_peak'],
            # ignore_features = [],
            ordinal_features = {'gender': ["F", "M"], 'exercise_angina': ["No", "Yes"]},
            train_size=0.8,
            normalize=True,
            # Default removal of outliers
            remove_outliers = True,
            outliers_threshold = 0.05,
            outliers_method = 'iforest',
           )

In [18]:
best = compare_models()

Processing:   0%|          | 0/69 [00:00<?, ?it/s]

In [22]:
# save model to local file system as insurance-pipeline.pkl
save_model(best, 'cv_issue-pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\ZHANGX~1\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['age', 'resting_BP', 'cholesterol',
                                              'fasting_BS', 'max_HR',
                                              'old_peak'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean',...
                  TransformerWrapper(exclude=None,
                                     include=['chest_pain', 'resting_ECG',
                                              'ST_slope'],
                                     transformer=OneHotEncoder(cols=['chest_pain',
                                                                     'resting_ECG',
                                                                     'ST_slope'],
                                                               drop_invariant=False,
                                                               handle_missing='return_nan',
                                                               handle_unknown='value',
                                                               return_df=True,
                                                               use_cat_names=True,
                                                               verbose=0))),
                 ('trained_model',
                  <catboost.core.CatBoostClassifier object at 0x000001DEF79FC640>)],
          verbose=False),
 'cv-issue-pipeline.pkl')